<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/indexHeader.ejs") %>
<body>

    <div id="header-main">
        
        <%- include("./partials/sidebar.ejs") %>

    </div>

    <%- include("./partials/navbar.ejs") %>
    
    

    <div id="headlines" class="top-stories">

        <div class="col-1">

            <a href="" class="rows-col-1">
                <div class="news-image-col-1">
                    <img src="" class="news-image-col-1-url-image">
                </div>
                <span class="news-content-col-1"></span>
            </a>



            <a href="" class="rows-col-1">
                <div class="news-image-col-1">
                    <img src="" class="news-image-col-1-url-image">
                </div>
                <span class="news-content-col-1"></span>
            </a>




            <a href="" class="rows-col-1">
                <div class="news-image-col-1">
                    <img src="" class="news-image-col-1-url-image">
                </div>
                <span class="news-content-col-1"></span>
            </a>

        </div>



        <div class="col-2">
            <a href="" class="rows-col-2">
                <div class="news-image-col-2">
                    <img src="" class="news-image-col-2-url-image">
                </div>
                <span class="news-content-col-2"></span>
            </a>

            <a href="" class="rows-col-2">
                <div class="news-image-col-2">
                    <img src="" class="news-image-col-2-url-image">
                </div>
                <span class="news-content-col-2"></span>
            </a>

            <a href="" class="rows-col-2">
                <div class="news-image-col-2">
                    <img src="" class="news-image-col-2-url-image">
                </div>
                <span class="news-content-col-2"></span>
            </a>

            <a href="" class="rows-col-2">
                <div class="news-image-col-2">
                    <img src="" class="news-image-col-2-url-image">
                </div>
                <span class="news-content-col-2"></span>
            </a>
        </div>

        
    </div>
    
    <div id="more">
        <button id="show-more-headline" class="show-more">Show more</button>
        <div id="content-more"></div>
    </div>
    
    <hr>









    <h1>Business</h1>
    <div id="business" class="categorical-news">
        <a href="" class="categorical-news-col-1">
            <div class="categorical-news-image-col-1">
                <img src="" class="categorical-news-image-col-1-url-image">
            </div>
            <span class="categorical-news-content-col-1"></span>
        </a>

        <div class="categorical-news-col-2">
            <a href="" class="categorical-rows-col-2">
                <div class="categorical-news-image-col-2">
                    <img src="" class="categorical-news-image-col-2-url-image">
                </div>
                <span class="categorical-news-content-col-2"></span>
            </a>

            <a href="" class="categorical-rows-col-2">
                <div class="categorical-news-image-col-2">
                    <img src="" class="categorical-news-image-col-2-url-image">
                </div>
                <span class="categorical-news-content-col-2"></span>
            </a>

            <a href="" class="categorical-rows-col-2">
                <div class="categorical-news-image-col-2">
                    <img src="" class="categorical-news-image-col-2-url-image">
                </div>
                <span class="categorical-news-content-col-2"></span>
            </a>

        </div>
    </div>
    <a href="/business">
        <button class="show-more">Go to business</button>
    </a>
    <hr>

    <h1>Entertainment</h1>
    <div id="entertainment" class="categorical-news">
        <a href="" class="categorical-news-col-1">
            <div href="" class="categorical-news-image-col-1">
                <img src="" class="categorical-news-image-col-1-url-image">
            </div>
            <span class="categorical-news-content-col-1"></span>
        </a>

        <div class="categorical-news-col-2">
            <a href="" class="categorical-rows-col-2">
                <div class="categorical-news-image-col-2">
                    <img src="" class="categorical-news-image-col-2-url-image">
                </div>
                <span class="categorical-news-content-col-2"></span>
            </a>

            <a href="" class="categorical-rows-col-2">
                <div class="categorical-news-image-col-2">
                    <img src="" class="categorical-news-image-col-2-url-image">
                </div>
                <span class="categorical-news-content-col-2"></span>
            </a>

            <a href="" class="categorical-rows-col-2">
                <div class="categorical-news-image-col-2">
                    <img src="" class="categorical-news-image-col-2-url-image">
                </div>
                <span class="categorical-news-content-col-2"></span>
            </a>

        </div>
    </div>
    <a href="/entertainment">
        <button class="show-more">Go to entertainment</button>
    </a>
    <hr>

    <h1>Health</h1>
    <div id="health" class="categorical-news">
        <a href="" class="categorical-news-col-1">
            <div class="categorical-news-image-col-1">
                <img src="" class="categorical-news-image-col-1-url-image">
            </div>
            <span class="categorical-news-content-col-1"></span>
        </a>

        <div class="categorical-news-col-2">
            <a href="" class="categorical-rows-col-2">
                <div class="categorical-news-image-col-2">
                    <img src="" class="categorical-news-image-col-2-url-image">
                </div>
                <span class="categorical-news-content-col-2"></span>
            </a>

            <a href="" class="categorical-rows-col-2">
                <div class="categorical-news-image-col-2">
                    <img src="" class="categorical-news-image-col-2-url-image">
                </div>
                <span class="categorical-news-content-col-2"></span>
            </a>

            <a href="" class="categorical-rows-col-2">
                <div class="categorical-news-image-col-2">
                    <img src="" class="categorical-news-image-col-2-url-image">
                </div>
                <span class="categorical-news-content-col-2"></span>
            </a>

        </div>
    </div>
    <a href="/health">
        <button class="show-more">Go to health</button>
    </a>
    <hr>

    <h1>Science</h1>
    <div id="science" class="categorical-news">
        <a href="" class="categorical-news-col-1">
            <div class="categorical-news-image-col-1">
                <img src="" class="categorical-news-image-col-1-url-image">
            </div>
            <span class="categorical-news-content-col-1"></span>
        </a>

        <div class="categorical-news-col-2">
            <a href="" class="categorical-rows-col-2">
                <div class="categorical-news-image-col-2">
                    <img src="" class="categorical-news-image-col-2-url-image">
                </div>
                <span class="categorical-news-content-col-2"></span>
            </a>

            <a href="" class="categorical-rows-col-2">
                <div class="categorical-news-image-col-2">
                    <img src="" class="categorical-news-image-col-2-url-image">
                </div>
                <span class="categorical-news-content-col-2"></span>
            </a>

            <a href="" class="categorical-rows-col-2">
                <div class="categorical-news-image-col-2">
                    <img src="" class="categorical-news-image-col-2-url-image">
                </div>
                <span class="categorical-news-content-col-2"></span>
            </a>

        </div>
    </div>
    <a href="/science">
        <button class="show-more">Go to science</button>
    </a>
    <hr>

    <h1>Sports</h1>
    <div id="sports" class="categorical-news">
        <a href="" class="categorical-news-col-1">
            <div class="categorical-news-image-col-1">
                <img src="" class="categorical-news-image-col-1-url-image">
            </div>
            <span class="categorical-news-content-col-1"></span>
        </a>

        <div class="categorical-news-col-2">
            <a href="" class="categorical-rows-col-2">
                <div class="categorical-news-image-col-2">
                    <img src="" class="categorical-news-image-col-2-url-image">
                </div>
                <span class="categorical-news-content-col-2"></span>
            </a>

            <a href="" class="categorical-rows-col-2">
                <div class="categorical-news-image-col-2">
                    <img src="" class="categorical-news-image-col-2-url-image">
                </div>
                <span class="categorical-news-content-col-2"></span>
            </a>

            <a href="" class="categorical-rows-col-2">
                <div class="categorical-news-image-col-2">
                    <img src="" class="categorical-news-image-col-2-url-image">
                </div>
                <span class="categorical-news-content-col-2"></span>
            </a>

        </div>
    </div>
    <a href="/sports">
        <button class="show-more">Go to sports</button>
    </a>
    <hr>

    <h1>Technology</h1>
    <div id="technology" class="categorical-news">
        <a href="" class="categorical-news-col-1">
            <div class="categorical-news-image-col-1">
                <img src="" class="categorical-news-image-col-1-url-image">
            </div>
            <span class="categorical-news-content-col-1"></span>
        </a>

        <div class="categorical-news-col-2">
            <a href="" class="categorical-rows-col-2">
                <div class="categorical-news-image-col-2">
                    <img src="" class="categorical-news-image-col-2-url-image">
                </div>
                <span class="categorical-news-content-col-2"></span>
            </a>

            <a href="" class="categorical-rows-col-2">
                <div class="categorical-news-image-col-2">
                    <img src="" class="categorical-news-image-col-2-url-image">
                </div>
                <span class="categorical-news-content-col-2"></span>
            </a>

            <a href="" class="categorical-rows-col-2">
                <div class="categorical-news-image-col-2">
                    <img src="" class="categorical-news-image-col-2-url-image">
                </div>
                <span class="categorical-news-content-col-2"></span>
            </a>

        </div>
    </div>
    <a href="/technology">
        <button class="show-more">Go to technology</button>
    </a>
    <hr>

</body>
<script type="text/javascript">
    var sources = <%- JSON.stringify(sources) %>;
    var titles = <%- JSON.stringify(titles) %>;
    var descriptions = <%- JSON.stringify(descriptions) %>;
    var urls = <%- JSON.stringify(urls) %>;
    var urlToImages = <%- JSON.stringify(urlToImages) %>;
  </script>
<script src="/js/app.js"></script>

</html>